.sponsors-hover{ background:url("sponsors-hover.png") top left no-repeat; }
.geekhub_main_r2_c2{ width:69px; height:54px; background-position:-10px -10px; }
.geekhub_main_r8_c7{ width:59px; height:47px; background-position:-10px -74px; }
.geekhub_main_r9_c3{ width:59px; height:44px; background-position:-10px -131px; }
.geekhub_main_r4_c10{ width:44px; height:44px; background-position:-10px -185px; }
.geekhub_main_r3_c5{ width:72px; height:39px; background-position:-10px -239px; }

