@media screen and (min-width:480px) and (max-width:900px) {
    #wrapper {
        width: 100%;
    }
    #header {
        height: auto;
    }
    p.geekhub {
        width: 90%;
    }
}
@media screen and (min-width:480px) and (max-width:730px) {
    .respons-menu>a {
        display: block;
    }
    #nav {
        display: none;
    }
    .respons-menu
}